{% include 'base/navbar.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="cart-header">
        <h1>Koszyk</h1>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nazwa produktu</th>
                    <th scope="col">Cena jednostkowa</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">❌</th>
                </tr>
            </thead>
            <tbody>
             {% for item in cart_items %}
                <tr>
                {% if item.product %}
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>
                    <button class="btn btn-danger" style="margin-left: 1rem;" onclick="updateQuantity('{{ item.id }}', 'decrement', 'product')">-</button>
                    <span id="product-quantity-{{ item.id }}">{{ item.product_quantity }}</span>
                    <button class="btn btn-success" style="margin-right: 1rem;" onclick="updateQuantity('{{ item.id }}', 'increment', 'product')">+</button>
                    </td>
                    <td>
                         <form action="{% if item.product.id %}{% url 'remove-product-from-cart' item.product.id %}{% endif %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-warning" type="submit">Usuń z koszyka</button>
                         </form>
                    </td>
                {%  elif item.equipment %}
                    <td>{{ item.equipment.name }}</td>
                    <td>{{ item.equipment.price }}</td>
                    <td>
                    <button class="btn btn-danger" style="margin-left: 1rem;" onclick="updateQuantity('{{ item.id }}', 'decrement', 'equipment')">-</button>
                    <span id="equipment-quantity-{{ item.id }}">{{ item.equipment_quantity }}</span>
                    <button class="btn btn-success" style="margin-right: 1rem;" onclick="updateQuantity('{{ item.id }}', 'increment', 'equipment')">+</button>
                    </td>
                    <td>
                         <form action="{% if item.equipment.id %}{% url 'remove-equipment-from-cart' item.equipment.id %}{% endif %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-warning" type="submit">Usuń z koszyka</button>
                         </form>
                    </td>
                {% endif %}
                </tr>
             {% endfor %}
            </tbody>
        </table>

    <div class="cart-total">
        <p>Łącznie: $<span id="total-amount">{{ total_amount }}</span></p>
    </div>
    Continue Shopping
    <a class="continue-shopping-link" href="{% url 'product-list' %}">Products</a>
    <a class="continue-shopping-link" href="{% url 'equipment-list' %}">Equipments</a>
    <a class="home" href="{% url 'home' %}">Home</a>

    <a class="checkout-button" href="{% url 'checkout' %}">Checkout</a>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
function updateQuantity(cartItemId, action, itemType) {
    $.ajax({
        url: `/update-quantity/${cartItemId}/${action}/${itemType}/`,
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            if (response.success) {
                $(`#${itemType}-quantity-${cartItemId}`).text(response.quantity);
                $('#total-amount').text(response.totalAmount);
            } else {
                console.error('Error updating quantity:', response.error);
            }
        },
        error: function(error) {
            console.error('AJAX error:', error);
        }
    });
}
</script>
{% endblock %}
