{% load static %}
{% block content %}
<div class="container">
    <div class="cart-header">
        <h1>Your Cart</h1>
    </div>
    <ul>
        {% for item in cart_items %}
        <li class="cart-item">
            <div class="cart-item-details">
{#                <div class="cart-item-name">{{ item.product.name }}</div>#}
{#                <form action="{% url 'remove-product-from-cart' item.product.id %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <button class="remove-from-cart-btn" type="submit">Remove</button>#}
{#                </form>#}
            </div>
{#            <div class="cart-item-details">#}
{#                <div class="cart-item-name">{{ item.equipment.name }}</div>#}
{#                <form action="{% url 'remove-equipment-from-cart' item.equipment.id %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <button class="remove-from-cart-btn" type="submit">Remove</button>#}
{#                </form>#}
{#            </div>#}
            <div class="cart-item-quantity">
{#                <form action="{% url 'increase-cart-item' item.product.id %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <button class="quantity-btn increase-quantity" type="submit">+</button>#}
{#                </form>#}
{#                <span class="item-quantity">{{ item.quantity }}</span>#}
{#                <form action="{% url 'decrease-cart-item' item.product.id %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <button class="quantity-btn decrease-quantity" type="submit">-</button>#}
{#                </form>#}
            </div>
            <div class="cart-item-quantity">
{#                <form action="{% url 'increase-cart-item' item.equipment.id %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <button class="quantity-btn increase-quantity" type="submit">+</button>#}
{#                </form>#}
{#                <span class="item-quantity">{{ item.quantity }}</span>#}
{#                <form action="{% url 'decrease-cart-item' item.equipment.id %}" method="post">#}
{#                    {% csrf_token %}#}
{#                    <button class="quantity-btn decrease-quantity" type="submit">-</button>#}
{#                </form>#}
            </div>
{#            <div class="cart-item-price" data-price="{{ item.product.price }}">#}
{#                ${{ item.product.price }}<br>#}
{#                {{ item.product_quality }}#}
{#            </div>#}
{#            <div class="cart-item-price" data-price="{{ item.equipment.price }}">#}
{#                ${{ item.equipment.price }}<br>#}
{#                {{ item.equipment_quality }}#}
{#            </div>#}
            <div class="cart-item-price" data-price="{{ item.product.price }}">
                {% if item.product.price %}
                    ${{ item.product.price }}<br>
                    {{ item.product_quality }}
                {% endif %}
            </div>

            <div class="cart-item-price" data-price="{{ item.equipment.price }}">
                {% if item.equipment.price %}
                    ${{ item.equipment.price }}<br>
                    {{ item.equipment_quality }}
                {% endif %}
            </div>

        </li>
        {% endfor %}
    </ul>

    <div class="cart-total">
        <p>Total: ${{ total_amount }}</p>
    </div>
    Continue Shopping
    <a class="continue-shopping-link" href="{% url 'product-list' %}">Products</a>
    <a class="continue-shopping-link" href="{% url 'equipment-list' %}">Equipments</a>

    <a class="checkout-button" href="#">Checkout</a>
</div>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}