{% load static %}
{% block content %}
<div class="container">
    <div class="cart-header">
        <h1>Your Cart</h1>
    </div>
    <ul>
        {% for item in cart_items %}
            <li class="cart-item">
            {% if item.product %}
                <div class="cart-item-name">{{ item.product.name }}</div>
                ${{ item.product.price }}<br>
                <div class="item-quantity">
                    <button class="quantity-btn" onclick="updateQuantity('{{ item.id }}', 'decrement', 'product')">-</button>
                    <span id="product-quantity-{{ item.id }}">{{ item.product_quantity }}</span>
                    <button class="quantity-btn" onclick="updateQuantity('{{ item.id }}', 'increment', 'product')">+</button>
                </div>
                <form action="{% if item.product.id %}{% url 'remove-product-from-cart' item.product.id %}{% endif %}" method="post">
                    {% csrf_token %}
                    <button class="remove-from-cart-btn" type="submit">Remove</button>
                </form>
            {% elif item.equipment %}
                <div class="cart-item-name">{{ item.equipment.name }}</div>
                ${{ item.equipment.price }}<br>
                <div class="item-quantity">
                    <button class="quantity-btn" onclick="updateQuantity('{{ item.id }}', 'decrement', 'equipment')">-</button>
                    <span id="product-quantity-{{ item.id }}">{{ item.product_quantity }}</span>
                    <button class="quantity-btn" onclick="updateQuantity('{{ item.id }}', 'increment', 'equipment')">+</button>
                </div>
                <form action="{% if item.equipment.id %}{% url 'remove-equipment-from-cart' item.equipment.id %}{% endif %}" method="post">
                    {% csrf_token %}
                    <button class="remove-from-cart-btn" type="submit">Remove</button>
                </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <div class="cart-total">
        <p>Total: ${{ total_amount }}</p>
    </div>
    Continue Shopping
    <a class="continue-shopping-link" href="{% url 'product-list' %}">Products</a>
    <a class="continue-shopping-link" href="{% url 'equipment-list' %}">Equipments</a>

    <a class="checkout-button" href="#">Checkout</a>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
function updateQuantity(cartItemId, action, itemType) {
    $.ajax({
        url: `/update-quantity/${cartItemId}/${action}/${itemType}/`,
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            if (response.success) {
                // Update the displayed quantity on success
                $(`#${itemType}-quantity-${cartItemId}`).text(response.quantity);
            } else {
                console.error('Error updating quantity:', response.error);
            }
        },
        error: function(error) {
            console.error('AJAX error:', error);
        }
    });
}
</script>
{% endblock %}
