<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<nav class="navbar navbar-dark sticky-top bg-primary">
    <a class="navbar-brand" href="/">ProConstruct</a>
    <ul class="nav justify-content">
        <li class="nav-item">
            <a class="nav-link " style="color: white; " href="{% url 'product-list' %}">Materiały Budowlane</a>
        </li>
        <li>
            <a class="nav-link" style="color: white;font-weight: bold;" href="{% url 'equipment-list' %}">Narzędzia</a>
        </li>
    </ul>
    {% if request.user.is_authenticated %}
        <div class="dropleft">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ request.user.username }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'cart' %}">Koszyk</a>
                <a class="dropdown-item" href="{% url 'user_details' %}">Twoje konto</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj się</a>
            </div>
        </div>
    {% else %}
        <div class="dropleft">
            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gość
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'login' %}">Zaloguj się</a>
                <a class="dropdown-item" href="{% url 'signup' %}">Zarejestruj się</a>
            </div>
        </div>
    {% endif %}
</nav>
    <section style="width:fit-content;margin-left: auto;margin-right: auto;margin-top:3rem">
    <h3>Lista narzędzi</h3>
    </section>
    <div class="con" style="margin-top: 4rem; width: fit-content; margin-left: 3rem; margin-right: 3rem; ">
    {% for equipment in equipments %}
    <div style="display: block; float: left; margin-right: 1rem; margin-bottom: 3rem;">
        <div class="card" style="width: 18rem; min-height: 34.463rem">
            <img src="{{equipment.image}}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                    <h5 class="card-title">{{equipment.name}}</h5>
                    <p class="card-text">{{ equipment.description }}</p>
                    <p class="card-text">Ilość: {{ equipment.quantity }}</p>
                    <h3 class="card-text">Cena: {{ equipment.price }}</h3>
                    <form action="{% url 'add-equipment-to-cart' equipment.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary">Dodaj do koszyka</button>
                    </form>
            </div>
        </div>
    </div>
        {% endfor %}
    </div>