{% include 'base/navbar.html' %}
{% block content %}

<section style="width:fit-content;;margin-right: auto;margin-top:1rem; margin-left:1rem">
    <button class="btn btn-primary" onclick="window.history.back();">Wróć</button>
</section>

<section style="width:fit-content;margin-left: auto;margin-right: auto;margin-top:1rem">
<h1 class="card-title">{{equipment.name}}</h1>
</section>


<div class="container-lg"></div>
<div class="row" style="margin-top: 6rem; padding: 1rem;">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <img src="{{equipment.image}}" class="img-fluid mx-auto d-block" alt="{{ equipment.name }}">
    </div>
    
    <div class="col-sm-5">
        <h5>O Narzędziu: </h5>
        <p class="card-text">{{ equipment.description }}</p>
        <hr>
        <br>
        <p class="card-text">Ilość: {{ equipment.quantity }}</p>
        <p class="card-text">Stawka najmu: {{ equipment.rental_rate }} / {{ equipment.get_rental_period_display }}</p>
        <p class="card-text">Kaucja: {{ equipment.deposit }}</p>
        <h3 class="card-text">Cena: {{ equipment.price }}</h3>
        <form action="{% url 'add-equipment-to-cart' equipment.id %}" method="post">
            {% csrf_token %}
            Wynajem 
            od <input type="date" name="start_date" required>
            do <input type="date" name="end_date" required>
            <br><br>
            
            <button class="btn btn-primary">Dodaj do koszyka</button>
        </form>
        {% if messages %}
        <ul class="messages" style="color: red;">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</div>


{% endblock %}