{% block content %}
<h1>Product List</h1>
<a href="{% url 'cart' %}">Cart</a>
{% for product in products %}
<div class="product-card">
    <div class="product-image">
        <img src="{{ product.image }}" alt="{{ product.name }}">
    </div>
    <div class="product-name">{{ product.name }}</div>
    <div class="product-description">{{ product.description }}</div>
    <div class="product-quantity">{{ product.quantity }}</div>
    <div class="product-price">$ {{ product.price }}</div>
    <form action="{% url 'add-product-to-cart' product.id %}" method="post">
        {% csrf_token %}
        <button class="add-to-cart-btn">Add to Cart</button>
    </form>
</div>
{% endfor %}
<a href="{% url 'home' %}">Home</a>
{% endblock %}