{% include 'base/navbar.html' %}
{% block content %}

<section style="width:fit-content;margin-left: auto;margin-right: auto;margin-top:3rem">
<h3>Regulamin sklepu oraz wypożyczalni narzędzi ProConstruct</h3>
</section>

<div class="con" style="margin-top: 4rem; width: fit-content; margin-left: 3rem; margin-right: 3rem; ">
    <ol>
        <li><b>Postanowienia ogólne</b></li>
        <ol>
            <li>Niniejszy regulamin określa zasady sprzedaży towarów oraz wynajmu sprzętu budowlanego prowadzonych przez sklep ProConstruct zwany dalej <b>Sprzedawcą/Wynajmującym</b>.</li>
            <li>Osoba korzystająca z usług sklepu lub wypożyczalni nazywana jest w dalszej części regulaminu <b>Klientem</b> (w przypadku zakupu) lub <b>Najemcą</b> (w przypadku wynajmu sprzętu).</li>
            <li>Zawarcie transakcji kupna-sprzedaży lub podpisanie umowy najmu oznacza akceptację niniejszego regulaminu.</li>
        </ol>
        <li><b>Sprzedaż towarów (Sklep budowlany)</b></li>
        <ol>
            <li>Sklep prowadzi sprzedaż detaliczną i hurtową materiałów budowlanych, narzędzi oraz akcesoriów.</li>
            <li>Ceny podane w sklepie są cenami brutto (zawierają podatek VAT) i wyrażone są w dolarach (USD $).</li>
            <li>Klient ma do wyboru następujące formy płatności:</li>
                <ul>
                    <li>Gotówka przy odbiorze</li>
                    <li>Karta płatnicza w terminalu stacjonarnym</li>
                    <li>Płatność online</li>
                </ul>
            <li>Do każdego zakupionego towaru dołączany jest dowód zakupu (paragon fiskalny lub faktura VAT).</li>
        </ol>
        <li><b>Wynajem sprzętu budowlanego (Wypożyczalnia)</b></li>
        <ol>
            <li>Wypożyczalnia oferuje wynajem sprzętu budowlanego na określony czas, na podstawie pisemnej Umowy Najmu.</li>
            <li>Warunki wydania sprzętu:</li>
                <ul>
                    <li>Aby wynająć sprzęt, Najemca musi okazać ważny dokument tożsamości ze zdjęciem (dowód osobisty lub paszport).</li>
                    <li>W przypadku firm wymagane jest dodatkowo upoważnienie do zawierania umów w imieniu przedsiębiorstwa (jeśli sprzęt odbiera pracownik).</li>
                </ul>
            <li>Kaucja i opłaty:</li>
                <ul>
                    <li>Wynajmujący pobiera z góry kaucję zwrotną za wynajmowany sprzęt. Wysokość kaucji uzależniona jest od wartości sprzętu i podana jest w cenniku wypożyczalni.</li>
                    <li>Opłata za wynajem naliczana jest według stawek dobowych lub godzinowych określonych w cenniku.</li>
                    <li>Kaucja zwracana jest w momencie oddania sprawnego i czystego sprzętu.</li>
                </ul>
            <li>Prawa i obowiązki Najemcy:</li>    
                <ul>
                    <li>Najemca oświadcza, że posiada niezbędną wiedzę do prawidłowej i bezpiecznej obsługi wynajętego sprzętu.</li>
                    <li>Najemca zobowiązuje się używać sprzętu zgodnie z jego przeznaczeniem i instrukcją obsługi.</li>
                    <li>Zabrania się podnajmowania sprzętu osobom trzecim bez pisemnej zgody Wynajmującego.</li>
                </ul>
            <li>Zwrot sprzętu:</li>
                <ul>
                    <li>Sprzęt musi zostać zwrócony w terminie określonym w Umowie Najmu, w stanie niepogorszonym (poza normalnym zużyciem eksploatacyjnym) oraz oczyszczony z zabrudzeń budowlanych.</li>
                    <li>Zwrócenie sprzętu brudnego skutkuje potrąceniem z kaucji zryczałtowanej opłaty za czyszczenie w wysokości 50-150 $.</li>
                    <li>W przypadku uszkodzenia, zniszczenia lub kradzieży sprzętu, Najemca ponosi pełną odpowiedzialność finansową za koszty jego naprawy lub zakupu nowego urządzenia (pokrywane w pierwszej kolejności z kaucji).</li>
                </ul>

        </ol>
        <li><b>Zwroty towarów pełnowartościowych (Odstąpienie od umowy)</b></li>
            <ol>
                <li>
                    <b>Przy sprzedaży stacjonarnej</b> Sprzedawca dopuszcza możliwość zwrotu pełnowartościowego towaru zakupionego stacjonarnie w terminie do 14 dni od daty zakupu, wyłącznie na podstawie paragonu lub faktury VAT. Zwracany towar musi być fabrycznie zapakowany i nie nosić śladów użytkowania.</li>
                <li>Zwrotom nie podlegają:</li>
                    <ul>
                        <li>Towary cięte na wymiar lub robione na specjalne zamówienie (np. farby z mieszalnika).</li>
                        <li>Materiały sypkie (np. cement, gips) oraz chemia budowlana o krótkim terminie przydatności.</li>
                        <li>Towary z wyprzedaży.</li>
                    </ul>
            </ol>
        <li><b>Reklamacje i Gwarancja</b></li>  
            <ol>
                <li>Sprzedawca ma obowiązek dostarczyć Klientowi towar wolny od wad fizycznych i prawnych. Wydawany sprzęt na wynajem musi być sprawny technicznie.</li>
                <li>Reklamacje z tytułu rękojmi lub wad wynajmowanego sprzętu należy zgłaszać pisemnie na adres sklepu lub drogą elektroniczną na adres e-mail: reklamacje@proconstruct.pl</li>
                <li>Zgłoszenie reklamacyjne powinno zawierać: dane Klienta, opis wady, datę jej stwierdzenia oraz żądanie Klienta (np. wymiana, naprawa, obniżenie ceny).</li>
                <li>Sprzedawca ustosunkuje się do reklamacji w terminie 14 dni od daty jej otrzymania.</li>
                <li>Towary sprzedawane w sklepie mogą być objęte gwarancją producenta. W takim przypadku Klient może realizować swoje uprawnienia bezpośrednio w autoryzowanych serwisach.</li>
            </ol>
        <li><b>Ochrona Danych Osobowych (RODO)</b></li>
            <ol>
                <li>Administratorem danych osobowych Klientów i Najemców jest ProConstruct.</li>
                <li>Dane osobowe (imię, nazwisko, adres, PESEL/NIP, numer dokumentu tożsamości, numer telefonu) przetwarzane są wyłącznie w celu realizacji zamówień, zawierania umów najmu oraz w celach księgowo-podatkowych.</li>
                <li>Klient ma prawo wglądu do swoich danych, ich poprawiania oraz żądania zaprzestania ich przetwarzania (w granicach dopuszczonych prawem).</li>
            </ol>
        <li><b>Postanowienia ogólne</b></li>
            <ol>
                <li>W sprawach nieuregulowanych niniejszym regulaminem mają zastosowanie przepisy Kodeksu Cywilnego oraz (w przypadku Konsumentów) Ustawy o prawach konsumenta.</li>
                <li>Sprzedawca zastrzega sobie prawo do wprowadzania zmian w regulaminie. Do umów zawartych przed zmianą stosuje się regulamin w brzmieniu obowiązującym w dacie zawarcia umowy.</li>
                <li>Regulamin obowiązuje od dnia 02.06.2026.</li>
            </ol>        
    </ol>
</div>

{% endblock %}