{% include 'base/navbar.html' %}
{% block content %}
<div class="container-lg"></div>
<div class="row" style="margin-top: 7rem;">
    <div class="col-sm-6">
        <div class="card" style="width:24rem; float:right">
            <div class="card-body">
                <h3 class="card-title">Dane użytkownika</h3>
                <p class="card-text">Nazwa użytkownika: {{ user.username }}</p>
                <p class="card-text">Adres E-mail: {{ user.email }}</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card" style="width:24rem;">
            <div class="card-body">
                <h3 class="card-title">Operacje</h3>
                <a class="btn btn-warning" href="{% url 'change_password' %}">Zmień hasło</a>
                <a class="btn btn-primary" href="{% url 'home' %}">Wróć na stronę główną</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}